:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --color-dark: #02111B;
  --color-white: #FCFCFC;
  --color-primary: #252B48;
  --color-complementary: #445069;
  --color-highlight: #5B9A8B;
  
  --shadow: 0px 14px 10px -6px #0000008a;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(45deg, var(--color-primary) 30%, var(--color-dark));
}

.centralize-content {
  height: 100vh;
  display: grid;
  place-items: center;
  color: var(--color-white)
}


h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 90vw;
  text-align: left;
  gap: 40px;
  background-color: var(--color-white);
  padding: 30px;
  border-radius: 10px;
  color: var(--color-primary);
  box-shadow: var(--shadow);
  
}

form input, form button, form label, form textarea {
  width: 100%;
}

form label {
  font-size: 1.1rem;
}

form textarea, form input {
  padding: 5px;
  font-size: 1rem;
  margin-top: 5px;
  border: 2px solid var(--color-primary);
  border-radius: 5px;
  outline: none;
  color: var(--color-primary);
}

form input {
  height: 35px;
}

form button {
  padding: 20px;
  border-radius: 10px;
  border: 2px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: var(--shadow);
}

@media (width >= 750px) {
  form {
    width: 60vw;
  }
}